<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#00bceb" type="ball-clip-rotate">
    <p style="font-size: 20px; color:#fff">Please wait...</p>
</ngx-spinner>
<div>
    <h5>My Lightboxes</h5>
    <table class="table table-striped">
        <thead>
          <tr>
            <th >Name</th>
            <th >Asset Count</th>
            <th >Create Date</th>
            <th >Expiration Date</th>
            <th >Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let collecton of collectionsData">
            <!-- *ngFor = "let rowData of anyData" -->
            <td>{{collecton.name}}</td>
            
        </tr>
        </tbody>
    </table>
</div>

