<div class="col-xs-12-p-0 col-md-12 col-sm-12" style='padding-right: 0px;'>
  <div class="nav-side-menu">
    <div class="menu-list">
      <div #leftNav id="leftNav" [innerHTML]="mainUlLi  | safeHtml" class="items"></div>
    </div>
    <!-- <div class="menu-list">
      
                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                      <a  >
                      <i class="fa fa-dashboard fa-lg"></i> Dashboard
                      </a>
                    </li>
    
                    <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                      <a  ><span class="arrow"></span></a><i class="fa fa-gift fa-lg"></i> UI Elements 
                    </li>
                    <ul class="sub-menu collapse" id="products">
                        <li class="active"><a  >CSS3 Animation</a></li>
                        <li><a  >General</a></li>
                        <li><a  >Buttons</a></li>
                        <li><a  >Tabs & Accordions</a></li>
                        <li><a  >Typography</a></li>
                        <li><a  >FontAwesome</a></li>
                        <li><a  >Slider</a></li>
                        <li><a  >Panels</a></li>
                        <li><a  >Widgets</a></li>
                        <li><a  >Bootstrap Model</a></li>
                    </ul>
    
    
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                      <a  ><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                    </li>  
                    <ul class="sub-menu collapse" id="service">
                      <li>New Service 1</li>
                      <li>New Service 2</li>
                      <li>New Service 3</li>
                    </ul>
    
    
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                      <a  ><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                      <li>New New 1</li>
                      <li>New New 2</li>
                      <li>New New 3</li>
                    </ul>
    
    
                     <li>
                      <a  >
                      <i class="fa fa-user fa-lg"></i> Profile
                      </a>
                      </li>
    
                     <li>
                      <a  >
                      <i class="fa fa-users fa-lg"></i> Users
                      </a>
                    </li>
                </ul>
         </div> -->
  </div>
</div>