<form name="searchfrm">
  <div class="row bx-search">
  <div class="col-12 col-sm-6"> </div>
  <div class="col-12 col-sm-6">
<div class="row">

    <div class="col-12 col-sm-12 col-md-4 pull-right">
    
      <select class="form-control bx-search-input"  name="exampleFormControlSelect1" *ngIf="flgSortBtn"  (change)="sortBy()" [(ngModel)]="searchParameters.sortBy">
        <option>Name Asc</option>
        <option>Name Desc</option>
        <option>Date Created Asc</option>
        <option>Date Created Desc</option>
        <option>Date Modified Asc</option>
        <option>Date Modified Desc</option>

      </select>
    </div>
    <div class="col-12 col-sm-12 col-md-2 pull-right">
      <div class="btn-group pull-right btn-groupbx" role="group" aria-label="Basic example"  *ngIf="flgSortBtn">
      <button type="button" id="btn-grid" class="btn btn-primarybx activebx-glview" (click)="listViewAssets('gridview')"> <i class="fa fa-th" aria-hidden="true"></i></button>
      <button type="button" id="btn-list" class="btn btn-primarybx" (click)="listViewAssets('listview')"><i class="fa fa-list" aria-hidden="true"></i></button>
    </div>  
    </div>
    <div class="col-12 col-sm-12 col-md-6">
    <div class="input-group ">
      <input type="text" name="searchtxt" class="form-control bx-search-input" placeholder="Search Assets" [(ngModel)]="searchParameters.searchKeyword">
      <div class="input-group-append">
        <button   class="btn btn-secondary search-bx-btn" [disabled]="!searchParameters.searchKeyword" 
        [ngClass]="!searchParameters.searchKeyword? 'btn-disable': 'btn-enabled'" (click)="GlobalSearch()" >
          <!-- [ngStyle]="!searchParameters.searchKeyword ? 'cursor: not-allowed' : 'cursor: pointer'"  -->
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>

    </div>

    
  
  
  </div>

</div>
   
</form>

