
    <div class="col-md-12 col-12 p-bx-0">
                <div class="row p-bx-0">
                    <div class="emp-profile">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="profile-img">
                                        <img src="./cbx/images/default.png" alt=""/>
                                        <div class="file btn btn-lg btn-primary">
                                            Change Photo
                                            <input type="file" name="file"/>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="row">
                               
                                <div class="col-md-12">
                                    <div class="tab-content profile-tab" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>First Name</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>{{userDetails?.first_name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Last Name</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>{{userDetails?.last_name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Email</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>{{userDetails?.email_address}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Login Name</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p>{{userDetails?.login_name}}</p>
                                                        </div>
                                                    </div>
                                                   
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </form>           
                    </div>
                    </div>
                   
                </div>
                
  