<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#00bceb" type="ball-clip-rotate">
    <p style="font-size: 20px; color:#fff">Please wait...</p>
</ngx-spinner>
  <div class="p-bx-0 col-12 topd-container1">
    <div class="row p-m-0">
    <div class="col-md-3 p-bx-0 top-d">All Files</div>
    <div class="col-9 p-bx-0">
      <div class="col-md-12 p-bx-0">
        <div class="row p-m-0">
      <div class="search-container col-sm-10 col-md-10 p-bx-0">
        <div class="form-group has-search">
          <span class="form-control-feedback"></span>
          <input type="text" class="form-control home-search" placeholder="Search">
        </div>
      </div>
      <div class="grid-viewd col-md-2 p-bx-0">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary gridview-btn"></button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-primary listview-btn"></button>
          </div>
          
        </div>
      </div>
      
    </div>
      </div>
    </div>
  </div>
  <div class="row p-m-0 filter-home1">
    <div class="col-md-7 p-bx-0 filter">
      <form class="form-inline">
        <label for="filter">Filter:</label>
      <div class="dropdown filterbx">
        <button class="btn btn-secondary dropdown-toggle filter-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          All available assets
        </button>
        <div class="dropdown-menu dropdown-option-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item dropdown-option" href="#">Weekly</a>
        </div>
      </div>
      </form>
    </div>
    <div class="col-5 p-bx-0" style="text-align:right">
      
      <button type="button" class="btn btn-primary btn-bx" >Download</button>
    <button type="button" class="btn btn-primary btn-bx bx-btnspace" >Add to cart</button>
    <button type="button" class="btn btn-primary btn-bx" >Add to collections</button>
    </div>
  </div>
  </div>
  
<div class="Table">
    <div class="Title">
        <!-- <p>This is a Table</p> -->
    </div>
    <div class="Heading">
        <!-- <div class="Cell">
            <p>Heading 1</p>
        </div>
        <div class="Cell">
            <p>Heading 2</p>
        </div>
        <div class="Cell">
            <p>Heading 3</p>
        </div> -->
    </div>
    <div id="data" [innerHTML]="tableRow  | safeHtml"></div>
    <!-- <div class="Row">
        <div class="title-Cell">
            <p>Row 1 Column 1</p>
        </div>
        <div class="Cell">
            <p>Row 1 Column 2</p>
        </div>
        <div class="Cell">
            <p>Row 1 Column 3</p>
        </div>
    </div> -->
    <!-- <div class="pagination-topd col-12 p-bx-0">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class=" previous-btn" href="#" tabindex="-1">Previous</a>
            </li>
            <li class=""><a class="page-link page-number" href="#">1</a></li>
            
            <li class="page-item">
              <a class="next-btn" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div> -->

<!-- <div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
</div> -->
      <div class="row col-12 text-center" *ngIf="searchParameters.totalhitcount>10">
        <div class="col-12 text-center">
            <p-paginator [rows]="searchParameters.limit" [totalRecords]="searchParameters.totalhitcount"
            [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"
            ></p-paginator>
        </div>
    </div>
</div>