<header class="outsideHeader">
  <!-- <h2><a href="/"><img src="../../../assets/images/mobile_logo.png" /></a></h2> -->
</header>
<section class="hero">
  <!-- <div class="background-image" style="background-image: url('../../assets/images/access-denied.jpg')"></div>
  <h1>{{ 'COMMON.LOG-IN-USERS' | translate }}</h1>
  <h3>{{ 'COMMON.PLEASE' | translate }} <input action="action" [routerLink]="['/']" type="button" value="{{ 'COMMON.LOGIN' | translate }}" class="btn btn-primary" /></h3> -->
</section>
