<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#00bceb" type="ball-clip-rotate">
  <p style="font-size: 20px; color:#fff">Please wait...</p>
</ngx-spinner>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" *ngFor="let x of carouselData let i = index" attr.data-slide-to="{{i}}" ngClass="{{i == 0 ? 'active' : ''}}"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div *ngFor="let j of carouselData let index = index" [ngClass]="index == 0 ? 'carousel-item active' : 'carousel-item'">
      <img src="{{j.objectID}}" class="img-fluid" alt="Cisco Image" usemap ="#workmap">
      <map name="workmap">
        <area shape="rect" coords="426,1,1,306" alt="Computer" href="{{j.leftUrl}}" target="_blank">
        <area shape="rect" coords="1023,1,427,305" alt="Phone" href="{{j.rightUrl}}" target="_blank">
        </map>
      <!-- <div class="coarousel-text-container">
        <div class="carousel-text">
          <h3 class="carousel-heading">Featured Collections</h3>
          <span class="carousel-subtext">This space will be used to promote new assets that are now available.</span>
          <div class="btn-carousel">
          <button class="btn btn-primary btn-bxcarousel">View assets</button>
        </div>
        </div>
      </div> -->
    </div>

  </div>

</div>