<div class="container-fluid p-bx-0 bx-footer">
    <div class="container">
<div class="row p-bx-0">
    <div class="col-md-11 p-bx-0">
        <div class="footer-links">
            <ul>
                <li><a href="//www.cisco.com/c/en/us/about/contact-cisco.html">Contacts</a></li>
                <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ">Feedback</a></li>
                <li><a href="//www.cisco.com/c/en/us/about/help.html">Help</a></li>
                <li><a href="//www.cisco.com/c/en/us/about/sitemap.html">Site Map</a></li>
                <li><a href="//www.cisco.com/c/en/us/about/legal/terms-conditions.html">Terms & Conditions</a></li>
                <li><a href="//www.cisco.com/c/en/us/about/legal/privacy-full.html">Privacy Statemnent</a></li>
                <li><a href="//www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies">Cookies</a></li>
                <li><a href="//www.cisco.com/c/en/us/about/legal/trademarks.html">Trademarks</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-1 p-bx-0"><a href="https://www.cisco.com/"><img src="./cbx/images/bx-logo-footer.png" class="logo-footer"></a></div>
  </div>
</div>
</div>