body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
    background-color:none !important;
     color: #000 !important;     
     font-weight: bold;
    outline: none;
}